/* ==============================
			header
=================================*/
header{
	text-align: center;
	font-weight: 300;
	font-size: 1.8em;
	padding-bottom: 2em;
	span{
		font-weight: 800;
	}
}
.logo{
	width: 50px;
	padding: 2em 0 .7em;
}
